@page
@model CS5800Proj.Pages.DeleteModel
@{
    ViewData["Title"] = "Admin Delete a Donation Item";
}

<div class="text-center">
    <h1 class="display-4">Please select an item to delete</h1>
    <form method="post">
        <div class="mb-3">
           @Html.LabelFor(m => m.del_id)
           @Html.DropDownListFor(m => m.del_id, new SelectList(Model.names))
        </div>
        <button type="submit" class = "btn btn-outline-warning shadow bg-body rounded" style="max-width:8%">Submit</button>
    </form>
</div>
