@page
@model CS5800Proj.Pages.EventCreationModel
@{
    ViewData["Title"] = "Event Creation Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <div>
        Label 1
        <input type="text" class="form-control text-center shadow bg-body rounded" id="userIDInput" name="userName" style="max-width:10%; margin-left:45%">
    </div>
    <div>
        Label 2
        <input type="text" class="form-control text-center shadow bg-body rounded" id="userIDInput" name="userName" style="max-width:10%; margin-left:45%">

        Label 3
        <input type="text" class="form-control text-center shadow bg-body rounded" id="userIDInput" name="userName" style="max-width:10%; margin-left:45%">
    </div>
</div>