@page
@model CS5800Proj.Pages.EventCreationModel
@{
    ViewData["Title"] = "Event Creation Page";
}

<div class="text-center">
    <h1><b>Please Fill Out the Information Below to Create an Event</b></h1>
    <form method="post">
        <label for="recipient">Recipient:</label>
        <input type="text" id="recipient" name="recipient">
    
        <label for="time">When:</label>
        <input type="text" id="time" name="time">

        <label for="location">Where:</label>
        <input type="text" id="location" name="location">

        <input type="submit" value="Create">
    </form>
</div>