@page
@model CS5800Proj.Pages.EventConfirmationModel
@{
    ViewData["Title"] = "Thank You";
}

<div class="text-center">
    <h1><b>Thank You, Your Event Has Been Created</b></h1>
    <form method="post">
        <input type="submit" value="Go Home">
    </form>
</div>