@page
@model CS5800Proj.Pages.LogInModel
@{
    ViewData["Title"] = "User Log in Screen";
}

<div class="text-center">
    <h1 class="display-4">Please Log In @Model.userName</h1>
    <form method="post">
        <div class="mb-3">
            <label for="userIDInput" class="form-label">Enter User ID</label>
            <input type="text" class="form-control text-center shadow bg-body rounded" id="userIDInput" style="max-width:10%; margin-left:45%">
        </div>
        <div class="mb-3">
            <label for="pword">Password:</label>
            <input type="password" class="form-control text-center shadow bg-body rounded" id="pword" style="max-width:10%; margin-left:45%">
        </div>
        <button type="submit" class = "btn btn-outline-warning shadow bg-body rounded" style="max-width:8%">Submit</button>
    </form>
</div>


